body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 85px;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    margin-right: 10px;
    height: 30px;
    padding-left: 80px;
}

.navbar-company {
    font-weight: bold;
    margin-right: auto;
}

.navbar-titles {
    display: flex;
    gap: 10px;
    margin-right: 100px;
    padding-top: 10px;
}

.navbar-title {
    padding: 5px 10px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

.navbar-line {
    height: 2px;
    margin-bottom: 10px;
}

.main-content {
    margin-top: 50px;
}

#logomain {
    width: 90px;
    height: 40px;

}

.navbar-company {
    font-size: 22px;
    padding-top: 20px;
    padding-left: 10px;
}


/* Media query */
@media screen and (max-width: 992px) {
    body {

        color: rgb(0, 0, 0);
    }

    .navbar-titles {
        padding-top: 15px;
        margin-right: 20px;
    }

    .navbar-logo {
        padding-left: 40px;
    }
}

#homemain {
    background: url('Images/wave.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 600px;
    display: flex;
}

#leftmain {
    float: left;
    width: 50%;
    height: 100%;
}

#rightmain {
    float: right;
    width: 50%;
    height: 100%;
    background: url('https://static.wixstatic.com/media/b21544_2123f07ca2b14bba945d280a1c6cfea2~mv2.png/v1/fill/w_623,h_623,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/b21544_2123f07ca2b14bba945d280a1c6cfea2~mv2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#hacktm {
    margin-top: 70px;
    margin-left: 200px;
}

#hacktmhead {
    font-size: 40px;
}

#hacktmline2 {
    font-size: 20px;
}

#hacktmline4 {
    display: flex;
}

#col {
    display: flex;
    float: left;
    width: 33%;
}

#com {
    display: flex;
    float: left;
    width: 33%;
}

#cre {
    display: flex;
    float: left;
    width: 33%;
}

.line4con {
    padding-bottom: 10px;
}

.line4img {
    margin-top: 7px;
}

#closedbtn {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#closedbtn:hover {
    background-color: #a1770c;
    color: black;
    border: black 1px solid;
}

#discordbtn:hover {
    background-color: black;
    color: #ffbf23;
    border: black 1px solid;
}

#discordbtn {
    width: 120px;
    height: 36px;
    border-radius: 5px;
    background-color: #ffbf23;
    color: black;
    border: black 1px solid;
}

#collabmr {
    margin-top: 25px;
    font-size: 17px;
}

#intro {
    background-color: #261081;
    height: 100%;
    padding-bottom: 10px;
}

#introleft1 {
    float: left;
    width: 50%;
    padding-top: 01px;
    padding-left: 200px;
}

#introright1 {
    float: left;
    width: 50%;
    padding-top: 01px;
    padding-left: 200px;
}

#introleft11 {
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#intro1 {
    display: flex;
}

#introleftp {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#introimg1 {
    padding-top: 50px;
    width: 350px;
    height: 350px;
}

#intro2 {
    display: flex;
}

#introleft2 {
    float: left;
    width: 50%;
    padding-top: 01px;
    padding-left: 200px;

}

#introimg2 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 70px;
}

#introright2 {
    float: left;
    width: 60%;
    padding-right: 100px;
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#introrightp {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#tracks {
    padding-top: 75px;
}

.sponimg{
    width: 400px;
}
#alltracks1 {
    display: flex;
    width: 1100px;
    height: 100%;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;

}

#track1 {
    float: left;
    width: 25%;
}

#track2 {
    float: left;
    width: 25%;
}

#track3 {
    float: left;
    width: 25%;
}

#track4 {
    float: left;
    width: 25%;
}

#alltracks2 {
    display: flex;
    width: 1100px;
    height: 100%;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
    margin-bottom: 75px;
}

#prize {
    background-color: #fafafa;
    height: 450px;
}

#prizepool {
    padding-top: 60px;
    font-size: 50px;
}

#alertprize {
    background-color: #fafafa;
    font-size: 13px;
    margin-left: 60%;
}

#glimpsesmain {
    display: flex;
    height: 600px;
}

#glimpseleft {
    float: left;
    width: 50%;
}

#glimpseright {
    float: left;
    width: 50%;
}

#headglimpse {
    margin-left: 60px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#glimpseimg {
    margin-top: 20px;
    margin-left: 100px;
}

#gltopic {
    display: flex;
}

#glt1 {
    float: left;
    width: 33%;
}

#glt2 {
    float: left;
    width: 33%;
}

#glt3 {
    float: left;
    width: 33%;
}

#glimpsebody {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 125px;
}


#headsponsors {
    margin: 00px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

#allsponsors {
    width: 75%;
    margin: auto;
}

.headings {
    padding-top: 30px;
    margin: 5px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}

.sline {
    float: left;
}

.simgdiv {
    margin-top: 40px;
    display: flex;
}

.simgdiv2 {
    display: flex;
}

.simgdiv3 {
    display: flex;
    margin-top: 20px;
}

.simg {
    width: 200px;
    float: left;
}

.simg1 {
    width: 250px;
    float: left;
}

.simg2 {
    width: 500px;
    float: left;
}

.simg3 {
    width: 200px;
    height: 150px;
    float: left;
}

.simg4 {
    margin-left: 10px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg5 {
    margin-left: 40px;
    width: 400px;
    height: 120px;
    float: left;
}

.simg6 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg7 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg8 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg9 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg10 {
    padding-top: 50;
    margin-left: 40px;
    width: 300px;
    height: 80px;
    float: left;
}

.simg11 {
    margin-left: 40px;
    width: 90px;
    height: 80px;
    float: left;
}

.simg12 {
    margin-left: 40px;
    width: 350px;
    height: 80px;
    float: left;
}

.simg13 {
    margin-left: 40px;
    width: 150px;
    height: 100px;
    float: left;
}

.simg14 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg15 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg16 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg17 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg18 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg19 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg20 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg21 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg22 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg23 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg24 {
    margin-left: 40px;
    width: 150px;
    height: 100px;
    float: left;
}

.simg25 {
    margin-left: 40px;
    width: 400px;
    height: 100px;
    float: left;
}

.simg26 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg27 {
    margin-left: 40px;
    width: 250px;
    height: 75px;
    float: left;
}

.simg28 {
    margin-left: 40px;
    width: 150px;
    height: 100px;
    float: left;
}

.simg29 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg30 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg31 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg32 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg33 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg34 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg35 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg36 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg37 {
    margin-left: 40px;
    width: 200px;
    height: 100px;
    float: left;
}

.simg38 {
    margin-left: 40px;
    width: 300px;
    height: 80px;
    float: left;
}

.simg39 {
    margin-left: 40px;
    width: 250px;
    height: 150px;
    float: left;
}

.simg40 {
    margin-left: 40px;
    width: 300px;
    height: 100px;
    float: left;
}

.simg41 {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    float: left;
}

.simg42 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg43 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg44 {
    margin-left: 40px;
    width: 200px;
    height: 100px;
    float: left;
}

.simg45 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

.simg46 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg47 {
    margin-left: 40px;
    width: 250px;
    height: 100px;
    float: left;
}

.simg48 {
    margin-left: 40px;
    width: 350px;
    height: 100px;
    float: left;
}

#speakers {
    height: 800px;
    width: 75%;
}

#headspeaker {
    margin: 15px;
    margin-top: 60px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}
#speakimg{
    width: 200px;
    height: 200px;
}
#speaker1{
    float: left;
    width: 25%;
}
#speaker2{
    float: left;
    width: 25%;
}
#speaker3{
    float: left;
    width: 25%;
}
#speaker4{
    float: left;
    width: 25%;
}
#speakerline1{
    display: flex;
}
#speakerline2{
    display: flex;
}
.desc{
   
    font-size: 15px;
}
#sponus{
    height: 100%;
    background-color: #261081;
}
#spontwo{
    display: flex;
}
#sponleft{
    float: left;
    width: 50%;
    margin-top: 100px;
    margin-left: 175px;
}
#sponright{
    padding-top: 150px;
    float: left;
    width: 10%;

}
.sponlefth{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}
.sponleftp{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-right: 200px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Victor Mono', monospace;
}
#btnspon{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border: black 1px solid;
    border-radius: 10px;
}
#sponlastline{
    font-size: 20px;
    color: white;
    margin: 00px;
}
#sponlast{
    padding-bottom: 15px;
}
#questions{
    height: 400px;
    background-color: #ffbf23;
}
#mainques{
    font-family:lulo-clean-w01-one-bold,lulo-clean-w05-one-bold,sans-serif;
    src: url(Fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf);
    padding-top: 80px;
    margin: 00px;
    font-size: 70px;
    color: white ;
}
#faqmain{
    display: flex;
}
#faqlogo{
    margin-left: 300px;
}
#faq{
    font-size: 20px;
    width: 300px;
    height: 45px;
    background-color: #261081;
    border: #261081 1px solid;
    color: white;
    margin-top: 80px;
}
.pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #261081;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #261081;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 200px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #826cd9;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #000000;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #000000;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 350px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }

  @media only screen and (max-width: 1260px) {
   #allsponsors{
    width: 85%;
   }
   .simg13{
    margin-left: 1px;
   }
   .simg14{
    margin-left: 10px;
    width: 250px;
   }
   .simg15{
    margin-left: 10px;
   }
   .simg16{
    margin-left: 10px;
   }
   .simg25{
    margin-left: 10px;
   }
   .simg26{
    margin-left: 10px;
   }
   .simg27{
    margin-left: 10px;
   }
   .simg28{
    margin-left: 10px;
   }
   .simg29{
    margin-left: 10px;
   }
   .simg30{
    margin-left: 10px;
   }
   .simg31{
    margin-left: 10px;
   }
   .simg32{
    margin-left: 10px;
   }
   .simg33{
    margin-left: 10px;
   }
   .simg34{
    margin-left: 10px;
   }
   .simg35{
    margin-left: 10px;
   }
   .simg36{
    margin-left: 10px;
   }
   
  }

  @media only screen and (max-width: 1160px) {
   .sponimg{
    width: 300px;
    margin-top: 100px;
   }
   .simg17{
    margin-left: 10px;
   }
   .simg18{
    margin-left: 10px;
   }
   .simg19{
    margin-left: 10px;
   }
   #alltracks1{
    width: 100%;
   }
   #alltracks2{
    width: 100%;
   }
   #hacktm{
    margin-left: 100px;
    margin-top: 40px;
   }
   #hacktmhead{
  font-size: 35px;
   }
   .simg40{
    margin-left: 10px;
   }
   .simg41{
    margin-left: 10px;
   }
   .simg42{
    margin-left: 10px;
   }
   .simg43{
    margin-left: 10px;
   }
   #introright1{
    padding-left: 100px;
   }
  }

  @media only screen and (max-width: 1060px) {
   .simg25{
    width: 200px;
    height: 60px;
   }
   .simg26{
    width: 200px;
    height: 60px;
   }
   .simg27{
    width: 200px;
    height: 60px;
   }
   .simg28{
    width: 100px;
    height: 60px;
   }
   .simg29{
    width: 200px;
    height: 60px;
   }
   .simg30{
    width: 150px;
    height: 60px;
   }
   .simg31{
    width: 200px;
    height: 60px;
   }
   .simg32{
    width: 200px;
    height: 60px;
   }
   .simg33{
    width: 200px;
    height: 60px;
   }
   .simg34{
    width: 60px;
    height: 60px;
   }
   .simg35{
    width: 60px;
    height: 60px;
   }
   .simg36{
    width: 60px;
    height: 60px;
   }
   .simg1{
    width: 200px;
    height: 100px;
   }
   .simg2{
    width: 250px;
    height: 100px;
   }
   .simg3{
    width: 100px;
    height: 100px;
   }
   .simg4{
    width: 200px;
    height: 60px;
   }
   .simg5{
    width: 200px;
    height: 60px;
   }
   .simg6{
    width: 150px;
    height: 60px;
   }
   .simg7{
    width: 150px;
    height: 60px;
   }
   .simg8{
    width: 150px;
    height: 60px;
   }
   .simg9{
    width: 150px;
    height: 60px;
   }
   .simg10{
    width: 150px;
    height: 60px;
   }
   .simg11{
    width: 60px;
    height: 60px;
   }
   .simg12{
    width: 200px;
    height: 60px;
   }
   .simg13{
    width: 100px;
    height: 60px;
   }
   .simg14{
    width: 200px;
    height: 60px;
   }
   .simg15{
    width: 200px;
    height: 60px;
   }
   .simg16{
    width: 200px;
    height: 60px;
   }
   .simg17{
    width: 200px;
    height: 60px;
   }
   .simg18{
    width: 200px;
    height: 60px;
   }
   .simg19{
    width: 200px;
    height: 60px;
   }
   .simg20{
    width: 100px;
    height: 60px;
   }
   .simg21{
    width: 200px;
    height: 60px;
   }
   .simg22{
    width: 200px;
    height: 60px;
   }
   .simg23{
    width: 100px;
    height: 100px;
   }
   .simg24{
    width: 150px;
    height: 100px;
   }
   .simg40{
    width: 150px;
    height: 60px;
   }
   .simg41{
    width: 60px;
    height: 60px;
   }
   .simg42{
    width: 150px;
    height: 60px;
   }
   .simg43{
    width: 150px;
    height: 60px;
   }
   .simg44{
    width: 150px;
    height: 60px;
   }
   .simg45{
    width: 200px;
    height: 60px;
   }
   .simg46{
    width: 200px;
    height: 60px;
   }
   .simg47{
    width: 150px;
    height: 60px;
   }
   .simg48{
    width: 150px;
    height: 60px;
   }
   #speakimg{
    width: 150px;
    height: 150px;
   }
  }
